.title-img {
    position: absolute;
}

@media (min-width: 320px) {
    .title-img {
        transform: scale(0.4) translateY(-170%);
    }

    h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 600px) {
    .title-img {
        transform: scale(0.4) translateY(-140%);
    }
    .board {
        margin-top: 10vh;
    }
}

@media (min-width: 600px) {
    .title-img {
        transform: scale(0.5) translateY(-140%);
    }
}

.board {
    display: flex;
    background-color: white;
    border: 12px solid black;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: -6px 10px 0 black;
}

.select-mode {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.mode-btn {
    width: 100%;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    margin: 6px 3px;
    background-color: #C9F9FC;
    border: 4px solid black;
    border-radius: 10px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.10));
    box-shadow: -2px 2px 0 black;
}

button.tile:hover {
    background-color: #C9F9FC20;
}

.empty {
    cursor: pointer;
}

.tile-img {
    max-height: 100%;
    padding: 14px;
    animation: playTile 0.2s
}

@keyframes playTile {
    0% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.game-display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    background-color: #C9F9FC;
    border: 5px solid black;
    border-radius: 10px;
    padding: 0px 12px;
    font-size: 20px;
    color: #FBB500;
    min-height: 60px;
    min-width: 180px;
}

.player-img {
    padding: 8px 2px 8px 0px;
    margin-right: 2px;
    transition: opacity 0.5s ease-in-out;
}

button {
    cursor: pointer;
    min-height: 60px;
    padding: 0 16px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #FBB500B0;
    color: black;
}

button:hover {
    background-color: #FBB500E0;
}

.main-menu-btn {
    position: relative;
    top: 50px;
    left: 0;
}

.play-again-btn {
    position: absolute;
    top: 38%;
    background-color: #FBB500;
    opacity: 0.90;
    animation-name: fadeIn;
    animation-duration: 1s;
    /* animation-fill-mode: both; */
}

.play-again-btn:hover {
    opacity: 0.95;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0.90;
    }
  }

