:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #E5E5E5;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Game Display Font", sans-serif;
  letter-spacing: 0.05em;
}

button {
  font-family: "Game Display Font", sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: "Game Display Font";
  src: url("./assets/fonts/LuckiestGuy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}